h1, h2, p, li {
    /*text-align: center;*/
    width: 100%;
    float: left;

}
h1 {
    font-size: 4em;
    color: #ffffff;

}
h2 {
    font-size: 2em;
    color: #ffffff;
    line-height: 1;
}
p {
    font-size: 1.2em;
    color: #ffffff;
    line-height: 1.2;

}

.WithinWebsiteLink {
    font-size: 1.3em;
}